@font-face {
   font-family: 'GenJyuuGothicL-Bold';
   src: url('GenJyuuGothicL-Bold/font.ttf');
}
@font-face {
   font-family: 'GenYoMinTW-SemiBold';
   src: url('GenYoMinTW-SemiBold/font.ttf');
}
@font-face {
   font-family: 'GenJyuuGothic-Light';
   src: url('GenJyuuGothic-Light/font.ttf');
}
@font-face {
   font-family: 'GenYoGothicTW-Bold';
   src: url('GenYoGothicTW-Bold/font.ttf');
}
