@font-face {
   font-family: 'GenYoMinTW-Bold';
   src: url('GenYoMinTW-Bold/font.ttf');
}
@font-face {
   font-family: 'GenYoGothicTW-Normal';
   src: url('GenYoGothicTW-Normal/font.ttf');
}
@font-face {
   font-family: 'GenYoMinTW-Light';
   src: url('GenYoMinTW-Light/font.ttf');
}
@font-face {
   font-family: 'GenYoMinTW-SemiBold';
   src: url('GenYoMinTW-SemiBold/font.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-Medium';
   src: url('GenRyuMinTW-Medium/font.ttf');
}
